# Eclipse
.classpath
.project
.settings/

# Maven
target/

# Java compiled files
*.class

# Logs
*.log

# OS
.DS_Store
Thumbs.db


# Local configuration - contains personal test data
src/test/resources/config.properties