<?xml version="1.0" encoding="UTF-8"?>

<suite name="Unacademy Automation Suite">

    <listeners>
        <listener class-name="Listeners.ExtentTestNGListener"/>
    </listeners>

    <test name="Unacademy Login and Signup Tests">
        <classes>
            <class name="Runners.TestRunner"/>
        </classes>
    </test>

    <test name="Unacademy About us tests">
        <classes>
            <class name="Tests.TS033_AboutUsPageTest"/>
            <class name="Tests.TS036_MissionImpactTest"/>
            <class name="Tests.TS037_AchievementsTest"/>
            <class name="Tests.TS038_JoinUsTest"/>
            <class name="Tests.TS039_JobOpeningsTest"/>
            <class name="Tests.TS041_ContactInformationTest"/>
        </classes>
    </test>

    <test name="Unacademy Goal tests">
        <classes>
            <class name="Tests.AddRemoveGoalTest"/>
            <class name="Tests.BatchesCardTest"/>
            <class name="Tests.CourseNavigationTest"/>
            <class name="Tests.CoursesCardTest"/>
            <class name="Tests.DirectDeepLinkTest"/>
            <class name="Tests.DoubtsAndSolutionsCardTest"/>
            <class name="Tests.GoalPersistenceTest"/>
            <class name="Tests.PlaylistCardTest"/>
            <class name="Tests.PracticeCardTest"/>
            <class name="Tests.TestSeriesCardTest"/>
            <class name="Tests.TopEducatorsCardTest"/>
        </classes>
    </test>

    <test name="Unacademy Search tests">
        <classes>
            <class name="Tests.TC020_SearchValidCourse"/>
            <class name="Tests.TC021_SearchValidInstructor"/>
            <class name="Tests.TC023_SearchInvalidKeyword"/>
            <class name="Tests.TC024_EmptySearch"/>
            <class name="Tests.TC025_SearchPartialKeyword"/>
            <class name="Tests.TC026_TrendingEducators"/>
            <class name="Tests.TC027_RedirectToEducatorProfile"/>
            <class name="Tests.TC028_SearchSpecialCharacters"/>
            <class name="Tests.TC030_SearchResultLoadTime"/>
            <class name="Tests.TC031_ClearSearchNewSearch"/>
        </classes>
    </test>

</suite>