<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Unacademy Automation Suite">
	<listeners>
		<listener class-name="Listeners.ExtentTestNGListener" />
	</listeners>

	<test name="Unacademy TestNG Tests">

		<classes>

			
			
			<class name="Tests.BatchesCardTest"/>
			<!--<class name="Tests.TS033_AboutUsPageTest" />
				<class name="Tests.TS036_MissionImpactTest" />
			<class name="Tests.TS037_AchievementsTest" />
			<class name="Tests.TS038_JoinUsTest" />
			<class name="Tests.TS039_JobOpeningsTest" />
			<class name="Tests.TS041_ContactInformationTest" />

		</classes>

	</test>

	<test name="Unacademy Cucumber Tests">

		<classes>

			<class name="Runners.TestRunner" />-->

		</classes>

	</test>

</suite>